@charset "UTF-8";

.top-padding {
    padding-top: 109px;
    min-height: 550px;
}
.page-top {
    margin-bottom: 40px;
    padding: 40px 0;
    background-color: #252525;
}
.page-top-inner-wrap {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    text-align: left;
}
.page-title {
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    font-weight: 400;
}
.wrap {
    width: 1240px;
    margin: 0 auto;
    position: relative;
}

.cs-body {
    width: 1240px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.cs-2depth {
    padding-bottom: 20px;
    font-size: 0;
}
.cs-2depth button {
    font-size: 20px;
    line-height: 22px;
    color: #a5a5a5;
}
.cs-2depth li.cs-2depth-on a, .cs-2depth li.cs-2depth-on button {
    color: #fff;
    font-weight: 700;
}

.cs-2depth li {
    display: inline-block;
    position: relative;
    margin-right: 12px;
    padding-right: 12px;
    vertical-align: middle;
}
.cs-2depth li:after {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    width: 1px;
    height: 18px;
    background-color: #2f2f2f;
}

.table02-wrap {
    position: relative;
    padding-bottom: 40px;
}

.board-search {
    width: 340px;
    position: absolute;
    right: 0;
    top: -48px;
}

.board-search input[type=text] {
    float: left;
    width: 280px;
    height: 34px;
    padding-left: 20px;
    color: #a5a5a5;
    border: 1px solid #252525;
    border-radius: 6px;
    background-color: #252525;
}

fieldset {
	border : 0;
}

.board-search-btn {
	position:absolute;
    float: right;
    width: 54px;
    height: 34px;
    border-radius: 28px;
    background-color: #1351f9;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -.2px;
    color: #fff;
}

.board-list-table {
	border: none;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    border-top: 2px solid #2f2f2f;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.board-list-table thead tr {
    border-bottom: 1px solid #2f2f2f;
}
.board-list-table th {
    text-align: center;
    font-size: 15px;
    color: #a5a5a5;
    padding: 15px 0;
}

.board-list-table tbody tr {
    border-bottom: 1px solid #2f2f2f;
}

.board-list-table tbody td {
    padding: 15px 0;
    text-align: center;
    color: #a5a5a5;
}
.board-list-table tbody a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 14px;
    color: #a5a5a5;
    padding-left: 20px;
}

.paging-type02 {
    padding-bottom: 80px;
    margin: 0 auto;
    text-align: center;
    clear: both;
}
#page {
	margin-right:20px;
}
.paging-type02 a.on {
    border: 1px solid #fff;
    color: #fff;
}
.paging-type02 a {
	display: inline-block;
    min-width: 36px;
/*     height: 36px; */
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 14px;
    line-height: 32px;
    color: #a5a5a5;
    vertical-align: middle;
}
.write {
	background: #1351f9;
    float: right;
    width: 100px;
    height: 30px;
    border-radius: 28px;
}
.paging-type01 a+a.arrow, .paging-type01 a.arrow+a, .paging-type02 a+a.arrow, .paging-type02 a.arrow+a {
    margin-left: 8px;
}