@charset "UTF-8";



.footer {
	background: #1b1b1b;
	border-top: 1px solid #2f2f2f;
	min-width: 1240px;
}
.footer-notice-hd a {
	display: block;
	font-size: 18px;
	color: #a5a5a5;
}

.footer-notice-inner {
	width: 1240px;
	margin: 0 auto;
	position: relative;
	height: 50px;
	line-height: 50px;
	z-index: 1000;
}
.footer-notice {
	border-bottom: 1px solid #2f2f2f;
}

.footer-notice-hd {
	margin-right: 23px;
	float: left;
	vertical-align: middle;
}

.footer-notice-hd a {
	display: block;
	font-size: 18px;
	color: #a5a5a5;
}

.footer-menu {
	width: 1240px;
	margin: 0 auto;
	padding: 0 0 100px;
	position: relative;
	overflow: hidden;
	color: #717171;
}

.footer-info-link-all {
	margin-top: 10px;
	font-size: 14px;
	line-height: 20px;
}

.footer-link {
	list-style: none;
	width: 1240px;
	height: 20px;
	margin-top: 10px;
}

.footer-link li {
	float: left;
	margin-right: 24px;
}

.footer-link li a {
	padding: 10px 0;
}

.footer-link .footer-privacy a {
	font-size: 15px;
	font-weight: 700;
}

.footer-info-copyright {
	font-size: 12px;
	line-height: 20px;
}

.footer-info-copyright span, .footer-info-copyright address {
	display: inline-block;
	border-right: 1px solid #717171;
	padding-right: 6px;
	margin-right: 6px;
	line-height: 11px;
}

.footer-info-copyright .last {
	border: 0;
}

.footer-info-copyright .copyright {
	display: block;
	margin-top: 10px;
	border: 0;
}

.footer-info-copyright address {
	margin-left: 0;
	font-style: normal;
}

