@charset "UTF-8";




.body {
    width: 100%;
    z-index: 1;
    position: relative;
    min-height: 100%;
    background-color: #1b1b1b;
}
.input-style01 {
    border-radius: 5px;
    padding-left:15px;
    background-color: #2f2f2f;
    letter-spacing: -0.9px;
    height:40px;
    color: white;
    border:none;
   	width: 480px;
}
.step-bar {
    width: 100%;
    height: 5px;
    background: #2f2f2f;
    position: absolute;
    top: 0;
    left: 0;
}
.step-bar span {
    height: 5px;
    display: block;
    text-indent: -9999px;
}
.gradation-blue {
    background-color: #1351f9;
}
img {
	vertical-align: middle;
}
.member{
    width: 100%;
    z-index: 10;
    margin-top: 120px;
    overflow: hidden;
}
.join-hd {
    color: #a5a5a5;
    margin: 20px 0 30px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.36;
}
.join-hd span {
	font-weight: 400;
    color: #fff;
}
.signuptop{
	margin-bottom:30px;
	
	color: white;
}
.signuptop h2{
	margin-bottom:20px;
	text-align: center;
	color: white;
}
.join{
	width: 560px;
	position: relative;
}

.login-error-gray {
    color: #a5a5a5;
    margin-top: 12px;
    padding-left:24px;
    background: url(https://member.wavve.com/images/member/icon-gray.png) no-repeat left 2px;
    font-size: 14px;
    line-height: 20px;
}
.join .join-input-box label {
	margin-top : 15px;
    font-size: 16px;
    color: #a5a5a5;
    display: block;
    font-weight: 700;
}

.btn-wavvy-join {
	padding: 20px 0;
	text-align:center;
	margin : 10px;
    background-color: #1351f9;
    display: block;
    border-radius: 100px;
}
.btn-wavvy-join input {
	text-align: center;
   	color : white;
    line-height: 20px;
    font-size : 18px;
    background-color: #1351f9;
    border:none;
}
.join-box {
	margin-top:50px;
}
.member-layout {
    margin: 80px auto;
    background: #252525;
}

.common-box{
	padding: 40px 40px;
}


.join .join-input-box li {
    margin-bottom: 28px;
    position: relative;
}

.sns-box {
	margin-top:50px;
}
.join-sns-hd{
	margin: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #a5a5a5;
}
.or-bar-box {
	position:relative;
	text-align: center;
}

.or-bar-left {
	left:0;
}
.or-bar-right{
	right:0;
}
.or-bar{
	position: absolute;
    top: 10px;
    display: block;
    width: 24%;
    border-bottom: 1px solid #2f2f2f;
}

.btn-sns-join {
	margin: 0 auto;
    padding: 40px 0;
    font-size: 0;
    text-align: center;
}
.btn-sns-join li {
	display: inline-block;
    width: 60px;
}
.btn-sns-join a{
	display: block;
    text-align: center;
    padding: 14px 0;
    font-size: 18px;
    line-height: 20px;
    border-radius: 100px;
}
.btn-sns-join li + li {
    margin-left: 16px;
}
.btn-sns-join li:nth-child(1) a {
    background-color: #fff100;
}

.btn-sns-join li:nth-child(2) a {
    background-color: #fff;
}
.btn-sns-join li:nth-child(3) a {
    background-color: #23b909;
}
.btn-sns-join li:nth-child(4) a {
    background-color: #3b5998;
}
.btn-sns-join li:nth-child(5) a {
    background-color: #fff;
}
.txt-exclamation {
    text-align: left;
    color: #717171;
}
.txt-exclamation p {
    position: relative;
    padding-left: 10px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
}
.txt-exclamation p > span {
    display: block;
}

