<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">


<title>웨이비 (Wavvy)</title>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:src="@{js/sample.js}"></script>
</th:block>
<head>
</head>

<!-- <link rel="stylesheet" type="text/css" href="/css/layout.css"> -->
<body>


	<div layout:fragment="content"></div>


</body>
</html>
