<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<link rel="stylesheet" type="text/css" href="/css/board_write.css">
<body>





	<div class="top-padding">
		<div class="wrap" id="g-contents">
			<div class="board-body">
				<div class="board-top">
					<h4>자유게시판</h4>
					<p>게시판</p>
				</div>
				<form action="" id="" method="" name="">
					<div class="board-table-wrap">
						<table class="board-table">
							<caption class="blind"></caption>
							<colgroup>
								<col width="280">
								<col>
							</colgroup>
							<tbody>


								<tr>
									<th scope="row">구분</th>
									<td colspan="4"><label for="board-type" class="blind"></label>
										<select id="board-type" name="category">
											<option value="none">구분</option>
											<option value="english">드라마</option>
											<option value="chinese">예능</option>
											<option value="spanish">영화</option>
											<option value="spanish">영화플러스</option>
											<option value="spanish">해외시리즈</option>
											<option value="spanish">프로야구</option>
											<option value="spanish">ORIGINAL</option>
											<option value="spanish">CLASSIC</option>

									</select></td>
								</tr>
								<tr>
									<th>제목</th>
									<td colspan="4"><input type="text"
										placeholder="제목을 입력해 주세요" class="board-input1" name="" id=""
										required=""></td>
								</tr>
								<tr>
									<th>내용</th>
									<td colspan="4"><textarea class="board-table-textarea01"
											placeholder="회차 줄거리"></textarea></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="board-btn-wrap2">
						<ul>
							<li><a href="" class="board-cancel">취소</a></li>
							<li><input type="submit" class="board-submit2" value="삭제"></li>
							<li><input type="submit" class="board-submit" value="수정"></li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>




</body>
</html>