<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
</head>


<link rel="stylesheet" type="text/css" href="/css/content_list.css">
<body>

	<main layout:fragment="content" id="contents">
		<div class="list-view">
			<div class="list-sub-menu">
				<div id="g-container">
					<div class="page-top">
						<div class="page-top-inner-wrap">
							<h1 th:if="${#strings.contains(moreContent.contentCategory,'popularity')}" tabindex="0" class="page-title">추천 프로그램</h1>
							<h1 th:if="${#strings.contains(moreContent.contentCategory,'drama')}" tabindex="0" class="page-title">드라마</h1>
							<h1 th:if="${#strings.contains(moreContent.contentCategory,'entertainment')}" tabindex="0" class="page-title">예능</h1>
							<h1 th:if="${moreContent.contentCategory.equals('movie')}" tabindex="0" class="page-title">영화</h1>
							<h1 th:if="${#strings.contains(moreContent.contentCategory,'moviePlus')}" tabindex="0" class="page-title">영화 플러스</h1>
							<h1 th:if="${#strings.contains(moreContent.contentCategory,'sereis')}" tabindex="0" class="page-title">SEREIS</h1>
							<h1 th:if="${#strings.contains(moreContent.contentCategory,'original')}" tabindex="0" class="page-title">ORIGINAL</h1>
							<h1 th:if="${#strings.contains(moreContent.contentCategory,'classic')}" tabindex="0" class="page-title">CLASSIC</h1>
						</div>
					</div>
					<div class="filter-wrap">
						<div class="filter-item">
							<span><label><select><option
											data-adult="n" value="&amp;orderby=new">최신순</option>
										<option data-adult="n" value="&amp;orderby=viewtime">
											인기순</option>
										<option data-adult="n" value="&amp;orderby=title">
											가나다순</option></select></label></span>
						</div>
					</div>
				</div>
				
				<div class="list-view-detail">
					<div th:each="contentVO : ${moreContent.contentList}" class="thumb portrait" cell-type="band_14">
						<a th:if="${session.loginId != null}" th:href="@{contentRead(contentEp=${contentVO.contentEp}, contentTitle=${contentVO.contentTitle}, contentNum=${contentVO.contentNum})}">
						<div class="thumb-image">
								<ul class="badge-list">
									<li class="left-top-area"><ul></ul></li>
									<li class="right-top-area"></li>
								</ul>
								<img
									th:src="${contentVO.contentImg}"
									alt="" aria-hidden="true" class="thumb-img"/>
								

								
							</div></a>
							
							<a th:if="${session.loginId == null}" href="login_check">
						<div class="thumb-image">
								<ul class="badge-list">
									<li class="left-top-area"><ul></ul></li>
									<li class="right-top-area"></li>
								</ul>
								<img
									th:src="${contentVO.contentImg}"
									alt="" aria-hidden="true" class="thumb-img"/>
								

								
							</div></a>
							
							
					</div>
				</div>
				<div class="paging-type01">
					
					<a  th:each="p : ${#numbers.sequence(moreContent.startPage, moreContent.endPage)}" id="page" th:text="${p}" th:href="@{/moreContent(page=${p}, contentCategory=${moreContent.contentCategory})}" href="#" class="on"><img
							src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAAXNSR0IArs4c6QAAAPBJREFUSA1jYBgFoyEwMkJg+fLlCuT6lIlYjf///w9bs2aNKrHqkdURbcm/f/+W/fr1K3DZsmXayAYQw2YkRhFMzcaNG8W/fPkSy8TEtDcyMvI8TJwQTbRPQAb5+/u/ZGRkXAAMOkdgHJkTMhwmT5IlIE1RUVFvODk55wGDzxNmCCGaZEtABn779s0EGGTfCRkOk2eBMYihgcHEuGrVKs+/f//K8vDwTCZGD0gN0REPtIAJGA9+QFpYSkpqqaOj4w9iLWEmVqGmpmY4MB641NXVl1pbW/8iVh9IHUnBBfTBMhMTkz+kWDCqdjQEhkEIAADVzUfIdyQB3wAAAABJRU5ErkJggg=="
							alt="다음 10개 페이지"></a>
				</div>
			</div>
		</div>
	</main>


</body>
</html>