<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
	<main layout:fragment="content" class="member">
		<div class="login member-layout">
			<h1 tabindex="0">로그인</h1>
			<div class="join-sns-box">
				<h2 tabindex="0" class="login-box-hd wavvy-hd">wavvy 계정으로 로그인</h2>
				<form action="login" method="post">
					<fieldset>
						<ul class="input-wrap01">
							<li><label><input type="text"
									placeholder="이메일 주소 또는 아이디" name="userId" class="input-style01"></label>
							</li>
							<li><label><input type="password" placeholder="비밀번호"
									name="userPw" class="input-style01"></label></li>
						</ul>
						<ul class="checkbox-wrap01">
							<li class="check-style check-style-dark"><input
								type="checkbox" id="id-save" class="check-blue-dark"><label
								for="id-save">아이디 저장</label></li>
							<li class="check-style check-style-dark"><input
								type="checkbox" id="login-auto" class="check-blue-dark"><label
								for="login-auto">자동 로그인</label></li>
						</ul>
						<div class="btn-purple btn-purple-dark">
							<a><input type="submit" value="로그인"></a>
						</div>
					</fieldset>
				</form>
				<ul class="join-find">
					<li><a href="">아이디 찾기</a></li>
					<li><a href="">비밀번호 재설정</a></li>
					<li><a href="signup">회원가입</a></li>
				</ul>
			</div>
			<div class="sns-box">
				<div class="or-bar-box">
					<span class="or-bar or-bar-left"></span>
					<h2 tabindex="0" class="login-box-hd">또는 다른 서비스 계정으로 로그인</h2>
					<span class="or-bar or-bar-right"></span>
				</div>
				<div class="login-sns">
					<ul>
						<li class="login-sns-each kakao"><a
							href="https://kauth.kakao.com/oauth/authorize?client_id=c1ad33d313092ad91d9e7ce4fe44eba6&redirect_uri=	
								http://wavvy.kro.kr/oauth/kakao&response_type=code">
								<img
								src="https://member.wavve.com/images/member/ico-common-kakao.png"
								alt="카카오로 로그인">
						</a></li>						
					</ul>
				</div>
				<p class="sns-exclamation">
					<span>SNS계정으로 간편하게 가입하여 서비스를 이용하실 수 있습니다.</span> <span>기존
						POOQ 계정 또는 wavvy 계정과는 연동되지 않으니 이용에 참고하세요.</span>
				</p>
			</div>
		</div>
	</main>
</body>
</html>