<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<link rel="stylesheet" type="text/css" href="/css/admin_write.css">
<body>





	<div layout:fragment="content" class="top-padding">
		<div class="wrap" id="g-contents">
			<div class="admin-body">
				<div class="admin-top">
					<h4>wavvy 등록</h4>
					<p>영상 작성페이지</p>
				</div>
				<form action="updateContent"  method="post" enctype="multipart/form-data">
					<div class="admin-table-wrap">
						<table class="admin-table">
							<caption class="blind"></caption>
							<colgroup>
								<col width="280">
								<col>
							</colgroup>
							<tbody>


								<tr>
									<th scope="row">구분</th>
									<td colspan="4"><label for="admin-type" class="blind"></label>
										<select id="admin-type" name="contentCategory">
											<option value="drama">드라마</option>
											<option value="entertainment">예능</option>
											<option value="movie">영화</option>
											<option value="moviePlus">영화플러스</option>
											<option value="sereis">해외시리즈</option>
											<option value="original">ORIGINAL</option>
											<option value="classic">CLASSIC</option>
											<option value="popularity">추천프로그램</option>

									</select></td>
								</tr>
								<tr>
									<th>제목</th>
									<td colspan="4"><input  th:value="${content.contentTitle}" type="text" 
										placeholder="제목을 입력해 주세요" class="admin-input1" name="contentTitle"
										required=""></td>
								</tr>
								<tr>
									<th>회차정보</th>
									<td colspan="4"><textarea th:text="${content.contentEpPlot}" class="admin-table-textarea01" name="contentEpPlot"
											placeholder="회차 줄거리"></textarea></td>

								</tr>
								<tr>
									<th rowspan="2"></th>
									<th>회차</th>
									<th>방영일</th>
									<th>재생시간</th>
									<th>연령</th>
								</tr>
								<tr>
									<td><input th:value="${content.contentEp}" type="text" class="admin-input2" name="contentEp"></td>
									<td><input th:value="${content.contentDate}" type="text" class="admin-input2" name="contentDate"></td>
									<td><input th:value="${content.contentRunning}" type="text" class="admin-input2" name="contentRunning"></td>
									<td><input th:value="${content.contentAge}" type="text" class="admin-input2" name="contentAge"></td>
								</tr>
								<tr>
									<th>방송 소개</th>
									<td colspan="4"><textarea th:text="${content?.contentEpTotal}" class="admin-table-textarea02" name="contentEpTotal"
											placeholder="방송 소개"></textarea></td>
								</tr>

								<tr>
									<th rowspan="2"></th>
									<th scope="col">개요</th>
									<th>출연진</th>
									<th>감독</th>
									<th>작가</th>
								</tr>
								<tr>
									<td><input th:value="${content.contentCategorySub}" type="text" class="admin-input2" name="contentCategorySub"></td>
									<td><input th:value="${content.contentCast}" type="text" class="admin-input2" name="contentCast"></td>
									<td><input th:value="${content.contentDirector}" type="text" class="admin-input2" name="contentDirector"></td>
									<td><input th:value="${content.contentWriter}" type="text" class="admin-input2" name="contentWriter"></td>
								</tr>
								<tr>
									<th>이미지</th>
									
									<td colspan="4">
									<span class="original-img" th:if="${content.contentImgName != null}" th:text="${content.contentImgName}"></span>
									<input th:if="${content.contentImgName == null}" maxlength="500" type="file"
										placeholder="이미지 url을 입력해주세요" class="admin-input1" name="imgFile"
										id="name">
									<input th:if="${content.contentImgName != null}" type="submit" value="X" th:formaction="@{/updateContentFile(contentNum=${content.contentNum},contentEp=${content.contentEp},fileName=${content.contentImgName},contentTitleName=${content.contentTitle})}" >
										</td>
								</tr>
								<tr>
									<th>영상</th>
									<td colspan="4">
									<span class="original-img" th:if="${content.contentName != null}" th:text="${content.contentName}"></span>
									<input th:if="${content.contentName == null}" maxlength="500" type="file" 
										placeholder="영상 url을 입력해주세요" class="admin-input1" name="videoFile"
										id="name">
									<input th:if="${content.contentName != null}" type="submit" value="X" th:formaction="@{/updateContentFile(contentNum=${content.contentNum},contentEp=${content.contentEp},fileName=${content.contentName},contentTitleName=${content.contentTitle})}" >
										<a th:href="@{/}">X</a>
										</td>
										
								</tr>

							</tbody>
						</table>
					</div>
					<div class="admin-btn-wrap">
						<ul>
							<li><a th:href="@{/}" class="admin-cancel">취소</a></li>
							<li><input type="hidden" name="contentNum"
				 th:value="${content.contentNum}"></li>
							<li><input type="submit" class="admin-submit" value="수정"></li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>




</body>
</html>