<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:fragment="configFragment">
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/layout.css}" />
	<link rel="stylesheet" th:href="@{/css/footer.css}" />
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<link rel="stylesheet" th:href="@{/css/signup.css}" />
	<link rel="stylesheet" th:href="@{/css/board.css}" />
	<link rel="stylesheet" th:href="@{/css/board_write.css}" />
	<link rel="stylesheet" th:href="@{/css/board_read.css}" />
 	<link rel="stylesheet" th:href="@{/css/read.css}" />
 	<link rel="stylesheet" th:href="@{/css/admin_write.css}" />
 	<link rel="stylesheet" th:href="@{/css/content_list.css}" />
 	<link rel="stylesheet" th:href="@{/css/userupdate.css}" />
	
	
	<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap"
	rel="stylesheet">
<link rel="shortcut icon" href="https://www.wavve.com/favicon.ico">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	
	
<!-- 	<link rel="stylesheet" th:href="@{/css/.css}" />
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/header.css}" /> -->
	<script type="text/javascript" th:src="@{/js/aljjabaegi-2.0.2.js}"></script>
</th:block>

<body>



</body>
</html>