<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.mapper.BoardMapper">
	
	<insert id="insert" parameterType="vo.BoardVO">
		INSERT INTO BOARD(BOARD_CATEGORY,BOARD_TITLE,BOARD_WRITER,BOARD_CONTENT,BOARD_DATE)
		VALUES (#{boardCategory},#{boardTitle},#{boardWriter},#{boardContent},#{boardDate})
	</insert>
	
	<insert id="insertContent" parameterType="vo.ContentVO">
		INSERT INTO CONTENT(CONTENT_WRITER,CONTENT_TITLE,CONTENT_EP,CONTENT_DATE,CONTENT_CATEGORY,CONTENT_RUNNING,
		CONTENT_AGE,CONTENT_EP_PLOT,CONTENT_CAST,CONTENT_EP_TOTAL,CONTENT_CATEGORY_SUB,CONTENT_DIRECTOR,
		CONTENT_IMG,CONTENT_VIDEO,CONTENT_IMGNAME, CONTENT_NAME) VALUES (#{contentWriter},#{contentTitle},#{contentEp},#{contentDate},
		#{contentCategory},#{contentRunning},#{contentAge},#{contentEpPlot},#{contentCast},#{contentEpTotal}
		,#{contentCategorySub},#{contentDirector},#{contentImg},#{contentVideo},#{contentImgName}, #{contentName})
	</insert>
	
	<select id="selectTotalCount" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<select id="selectLikeCount" resultType="int">
		select count(*) from board WHERE BOARD_CATEGORY=1;
	</select>
	
	<select id="selectMainCount" resultType="int">
		select count(*) from content where CONTENT_EP='1';
	</select>
	
	<select id="selectMoreCount" resultType="int">
		select count(*) from content where content_category like CONCAT('%',#{contentCategory},'%') and content_ep=1
	</select>
	<select id="selectNormalCount" resultType="int">
		select count(*) from board WHERE BOARD_CATEGORY=0;
	</select>
	
	<select id="selectSearchCount" resultType="int">
		SELECT COUNT(*) FROM CONTENT WHERE CONTENT_EP=1 AND CONTENT_TITLE like  CONCAT('%',#{keyword},'%')
	</select>
	
	<select id="selectContentListCount" resultType="int">
		SELECT COUNT(*) FROM CONTENT WHERE CONTENT_TITLE=#{contentTitle}
	</select>
	
	<select id="select" parameterType="int" resultMap="BoardResultMap">
		SELECT * FROM BOARD WHERE BOARD_NUM=#{boardNum}
	</select>
	
	<select id="selectContent" resultMap="ContentResultMap">
		SELECT * FROM CONTENT WHERE CONTENT_EP=#{contentEp} AND CONTENT_TITLE=#{contentTitle}
	</select>
	
	<select id="selectList" resultMap="BoardResultMap">
		SELECT
		BOARD_NUM,
		BOARD_TITLE,BOARD_WRITER,
		BOARD_DATE,
		BOARD_CATEGORY,
		BOARD_COUNT FROM
		BOARD ORDER BY
		BOARD_NUM DESC
		LIMIT #{startRow}, #{count}
	</select>
	
	<select id="selectContentList" resultMap="ContentResultMap">
		SELECT 
		*
		FROM CONTENT WHERE CONTENT_Title = #{contentTitle}
		ORDER BY CONTENT_EP
		DESC LIMIT #{startRow}, #{count}
	</select>
	
	<select id="selectMainList" resultMap="ContentResultMap">
		SELECT 
		* 
		FROM CONTENT WHERE CONTENT_EP=1
		ORDER BY CONTENT_NUM DESC
	</select>
	
	<select id="selectMoreList" resultMap="ContentResultMap">
		SELECT 
		*
		FROM CONTENT WHERE CONTENT_EP=1 AND CONTENT_CATEGORY LIKE CONCAT('%',#{contentCategory},'%')
		ORDER BY CONTENT_NUM DESC LIMIT #{startRow}, #{count}
	</select>
	
	<select id="selectSearchList" resultMap="ContentResultMap">
		select * from content where CONTENT_EP=1 AND CONTENT_TITLE like ('%',#{contentCategory},'%')
	</select>
	<select id="prevBoard" parameterType="int" resultMap="BoardResultMap">
		SELECT * FROM BOARD WHERE BOARD_NUM  &lt;#{boardNum} ORDER BY BOARD_NUM DESC LIMIT 1;
	</select>
	
	<select id="nextBoard" parameterType="int" resultMap="BoardResultMap">
		SELECT * FROM BOARD WHERE BOARD_NUM &gt; #{boardNum} ORDER BY BOARD_NUM LIMIT 1;
	</select>
	
	<select id="selectListLike" resultMap="BoardResultMap">
		 select BOARD_NUM,BOARD_TITLE,
		 BOARD_WRITER,BOARD_DATE,
		 BOARD_CATEGORY,BOARD_COUNT
		  FROM BOARD 
		  WHERE BOARD_CATEGORY=1 
		  order by BOARD_NUM DESC
		  LIMIT #{startRow}, #{count}
	</select>
	
	<select id="selectListNormal" resultMap="BoardResultMap">
		 select BOARD_NUM,BOARD_TITLE,
		 BOARD_WRITER,BOARD_DATE,
		 BOARD_CATEGORY,BOARD_COUNT
		  FROM BOARD 
		  WHERE BOARD_CATEGORY=0
		  order by BOARD_NUM DESC
		  LIMIT #{startRow}, #{count}
	</select>
	
	<update id="update" parameterType="vo.BoardVO">
		UPDATE BOARD SET
		BOARD_CATEGORY=#{boardCategory}, BOARD_TITLE=#{boardTitle}, BOARD_CONTENT=#{boardContent},
		BOARD_DATE=#{boardDate}
		WHERE
		BOARD_NUM=#{boardNum}
	</update>
	
	<update id="updateContent" parameterType="vo.ContentVO">
		UPDATE CONTENT SET
		CONTENT_CATEGORY=#{contentCategory}, CONTENT_title=#{contentTitle}, CONTENT_WRITER=#{contentWriter},
		CONTENT_EP=#{contentEp}, CONTENT_DATE=#{contentDate}, CONTENT_RUNNING=#{contentRunning}, CONTENT_AGE=#{contentAge},
		CONTENT_EP_PLOT=#{contentEpPlot}, CONTENT_CAST=#{contentCast}, CONTENT_EP_TOTAL=#{contentEpTotal},
		CONTENT_CATEGORY_SUB=#{contentCategorySub}, CONTENT_DIRECTOR=#{contentDirector},CONTENT_IMG=#{contentImg}, CONTENT_VIDEO=#{contentVideo},
		CONTETN_VIEW=#{contentView},CONTENT_NAME=#{contentName}, CONTENT_IMGNAME = #{contentImgName} WHERE CONTENT_NUM=#{contentNum}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM BOARD
		WHERE BOARD_NUM =#{boardNum}
	</delete>
	
	<delete id="deleteContent" parameterType="int">
		DELETE FROM CONTENT
		WHERE CONTENT_NUM =#{contentNum}
	</delete>
	
	<update id="updateReadCount" parameterType="int">
		UPDATE BOARD SET 
		BOARD_COUNT = BOARD_COUNT+1
		WHERE BOARD_NUM=#{boardNum}
	</update>
	
	<update id="updateContentCount" parameterType="int">
		UPDATE CONTENT SET
		CONTETN_VIEW = CONTETN_VIEW+1
		WHERE CONTENT_NUM=#{contentNum}
	</update>
	
	<resultMap type="vo.BoardVO" id="BoardResultMap">
		<result column="BOARD_NUM" property="boardNum"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_COUNT" property="boardCount"/>
		<result column="BOARD_LIKE" property="boardLike"/>
		<result column="BOARD_CATEGORY" property="boardCategory"/>
		<result column="BOARD_DATE" property="boardDate"/>
	</resultMap>
	
	<resultMap type="vo.ContentVO" id="ContentResultMap">
		<result column="CONTENT_NUM" property="contentNum"/>
		<result column="CONTENT_WRITER" property="contentWriter"/>
		<result column="CONTENT_TITLE" property="contentTitle"/>
		<result column="CONTENT_EP" property="contentEp"/>
		<result column="CONTENT_DATE" property="contentDate"/>
		<result column="CONTENT_CATEGORY" property="contentCategory"/>
		<result column="CONTENT_RUNNING" property="contentRunning"/>
		<result column="CONTENT_AGE" property="contentAge"/>
		<result column="CONTENT_EP_PLOT" property="contentEpPlot"/>
		<result column="CONTENT_CAST" property="contentCast"/>
		<result column="CONTENT_EP_TOTAL" property="contentEpTotal"/>
		<result column="CONTENT_CATEGORY_SUB" property="contentCategorySub"/>
		<result column="CONTENT_DIRECTOR" property="contentDirector"/>
		<result column="CONTENT_IMG" property="contentImg"/>
		<result column="CONTENT_VIDEO" property="contentVideo"/>
		<result column="CONTENT_VIEW" property="contentView"/>
		<result column="CONTENT_NAME" property="contentName"/>
		<result column="CONTENT_IMGNAME" property="contentImgName"/>
		
		
	</resultMap>

</mapper>